*{
    padding: 0;
    margin: 0;
    font-family: "MedievalSharp", cursive;
    font-weight: 500px;
    font-style: normal;
}


.logo{
    display: flex;
}

.logo img{
    width: 100px;
}

.logo h1{
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(20, 10, 3);
    color: bisque;
}

.navbar a{
    text-decoration: none;
    color: bisque;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li{
    margin-left: 20px;
}

.hero{
    background-image: url("https://i.pinimg.com/736x/8b/dd/4c/8bdd4c93c7ac288a2cc798024f7a6263.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 100px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p{
    font-weight: 500px;
}

.button-container{
    padding-top: 20px;
}

.menu-button{
    margin: 15px;
    padding: 5px;
    border-radius: 15%;
    background-color: rgb(20, 10, 3);
    color: bisque;
}

.featured-products, .postres, .team {
    padding: 50px;
    text-align: center;
    background-color: rgb(20,10,3);
    color: bisque;
    padding: 50px;
    text-align: center;
}

.product-list, .postre-container, .team-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product, .postre, .member{
    width: 300px;
    margin-bottom: 30px;
}

.product img, .postre img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

/*Estilos de pie de pagina*/

footer{
    background-color: rgb(140, 106, 76);
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}

.member img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
}